body {
  margin: 0;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  margin: 20px 10%;
}

#inputs {
  text-align: center
}

div {
  display: inline-block;
}

#fontsize, #lineheight {
  width: 40px;
}