.super-mario {
    width: 100px;
    top: 94px;
    position: absolute;
    z-index: 3;
}
.goomba {
    width: 100px;
    position: absolute;
    top: 230px;
    z-index: 2;
}
.word {
    font-size: 12px;
    width: 100px;
    position: absolute;
    z-index: 4;
    left: 134px;
    top: 210px;
}
.baloon {
    width: 100px;
    position: absolute;
    left: 120px;
    top: 210px;
    z-index: 1;
}
.bowser {
    width: 100px;
    position: absolute;
    left: 210px;   
    top: 230px;
}