* {
  box-sizing: border-box;
}

body {
  background-color: #5A99D8;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
}

h1 {
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

nav {
  background-color: rgb(238, 255, 0);
}
nav ul li {
  width: 121px;
  display: inline;
  list-style-type: none;
  margin: 0 50px;
}

article {
  width: 65vw;
  margin-left: 10px;
  text-align: center;
  border-collapse: collapse
}

section {
  margin-bottom: 70px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  font-weight: 400;
  padding: 0 42px;
  border: 2px solid #cfcfcf;
}

h2 {
  margin-bottom: 50px;
}

article section p {
  text-align: justify;
}

#img1 {
  width: 372px;
  margin: 10px 0;
}

#img2 {
  width: 500px;
}

aside {
  float: right;
  position: sticky;
  top: 30vh;
  width: 30vw;
}

#refs {
  text-align: left;
  margin-top: 100px;
}

ol li a {
  color: #ff02dd;
}