.header {
  background: var(--tertiary);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  display: grid;
  grid: 1fr / 1fr 0.5fr;
  place-items: center;
}

.header > section {
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;
  width: 100%;
}

.profile {
  border-bottom: 5px solid var(--primary);
  color: white;
  display: grid;
  grid: 1fr / 1fr 1fr;
  height: 100%;
  place-items: center;
  width: 100%;
}

.profile > img {
  border: 3px solid white;
  border-radius: 100px;
  box-shadow: 0 3px 5px rgb(255 255 255 / 30%);
  height: 90%;
}

.profile > span {
  border-left: 2px dashed white;
  display: grid;
  font-size: 1.5rem;
  height: 100%;
  place-items: center;
  text-align: center;
  text-shadow: 0 2px 5px rgba(250, 250, 250, 0.45);
  width: 100%;
}

.sectionScore {
  border: 15px double var(--primary);
  display: grid;
  place-items: center;
  text-align: center;
}

.score {
  background: var(--primary);
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.points {
  color: var(--primary);
  font-size: 2rem;
}

@media screen and ( min-width : 768px ) {

  .header {
    grid: 1fr / 1fr 2fr;
  }
}
